body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.my-textarea {
  /* Set initial height */
  height: 100px; /* You can adjust this as needed */

  /* Allow vertical scrolling */
  overflow-y: auto;

  /* Set minimum and maximum heights */
  min-height: 100px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */

  /* Disable manual resizing */
  resize: none;
}

/* Hide the scrollbar */
.my-textarea::-webkit-scrollbar {
  display: none;
}